<div class="container">

    <div class="card">
        <div class="card-header bgm-cyan">
            <h2>Cooperative Education</h2>
            <br />
        </div>

        <form name="FormNewJob" class="form-horizontal" role="form">
            <div class="card-body card-padding">
                <div class="form-group pull-right">
                    <label for="Province" class="col-sm-3 control-label">Search</label>
                    <div class="col-sm-8">
                        <div class="fg-line">
                            <input type="text" id="search" name="search" ng-model="search" class="form-control input-sm" placeholder="Search">
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th><center>Company Name</center></th>
                            <th><center>Province</center></th>
                            <th><center>Positions</center></th>
                            <th><center>Salary</center></th>
                            <th><center>Total job number</center></th>
                            <th><center>Date range</center></th>
                            <th><center>Detail</center></th>
                            <th><center>Delete</center></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="n in cooperative | filter:search">
                            <td align="center">{{n.Companyname}}</td>
                            <td align="center">{{n.ProvinceName}}</td>
                            <td align="center">{{n.JobTitle}}</td>
                            <td align="center">{{n.Salary}}</td>
                            <td align="center">{{n.NumberPosition}}</td>
                            <td align="center">{{n.DateRange}}</td>
                            <td align="center"><button class="btn btn-info btn-icon" ng-click="detail(n.JobID)" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="md md-description"></i></button></td>
                            <td align="center"><button class="btn btn-danger btn-icon" ng-click="deleteCooperative(n.JobID)"><i class="md md-delete"></i></button></td>
                                            
                        </tr>

                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </form>

        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="card">
                        <div class="modal-header card-padding">
                            <div class="pull-right">
                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="ma md-close"></i></button>
                            </div>
                        </div>
                        <div class="modal-body card-padding">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5><b>JobTitle :</b> {{detailjob.JobTitle}}</h5>
                                    <h5><b>Company Name :</b> {{detailjob.Companyname}}</h5>
                                    <h5><b>Job Description :</b> {{detailjob.JobDescription}}</h5>
                                    <h5><b>Qualification :</b> </h5><ul>
                                        <li>{{detailjob.Qualification}}</li>
                                    </ul>
                                    <h5><b>Keyskills :</b> </h5><ul>
                                        <li>{{detailjob.Keyskills}}</li>
                                    </ul>
                                    <h5><b>Address :</b> {{detailjob.EmployerAddress}}</h5>
                                    <h5><b>District :</b> {{detailjob.District}}</h5>
                                    <h5><b>Sub-District :</b> {{detailjob.SubDistrict}}</h5>
                                    <h5><b>Province :</b> {{detailjob.ProvinceName}}</h5>
                                    <h5><b>Contact Name :</b> {{detailjob.Contactname}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Position :</b> {{detailjob.Position}}</h5>
                                    <h5><b>Tel :</b> {{detailjob.Telephone}}</h5>
                                    <h5><b>Email :</b> {{detailjob.Email}}</h5>
                                    <h5><b>Website :</b> {{detailjob.Website}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Apply Now</button>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
</div>