<br />
<section class="container">
    <form name="FormNewJob" ng-submit="addstaff()" class="form-horizontal" role="form">
        <div class="box box-success">
            <div class="box-header with-border">
                <h1 class="box-title text-green">Full Time</h1>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
            </div>

            <div class="box-body">
                <div class="form-group pull-right">
                    <label for="Province" class="col-sm-3 control-label">Search</label>
                    <div class="col-sm-8">
                        <div class="fg-line">
                            <input type="text" id="search" name="search" ng-model="search" class="form-control input-sm" placeholder="Search">
                        </div>
                    </div>
                </div>
                <!--<table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Company Name</th>
                            <th>Province</th>
                            <th>Positions</th>
                            <th>Salary</th>
                            <th>Date range</th>
                            <th>Detail</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>บริษัท ไทยรูท ดอทคอม จำกัด</td>
                            <td>Phuket</td>
                            <td>PHP Programmer</td>
                            <td>30,000 - 40,000 Baht</td>
                            <td>13/03/2559 - 02/03/2559</td>
                            <td><button ng-click="profile(n.StaffID)" class="btn btn-info btn-icon"><i class="fa fa-plus"></i></button></td>
                        </tr>
                        <tr>
                            <td>บริษัท ไทยรูท ดอทคอม จำกัด</td>
                            <td>Phuket</td>
                            <td>Mobile Application Developer</td>
                            <td>30,000 - 40,000 Baht</td>
                            <td>13/03/2559 - 02/03/2559</td>
                            <td><button ng-click="profile(n.StaffID)" class="btn btn-info btn-icon"><i class="fa fa-plus"></i></button></td>
                        </tr>
                        <tr>
                            <td>Optimum Enterprise Co., Ltd.</td>
                            <td>Bangkok</td>
                            <td>Programmer</td>
                            <td>30,000 - 40,000 Baht</td>
                            <td>13/03/2559 - 02/03/2559</td>
                            <td><button ng-click="profile(n.StaffID)" class="btn btn-info btn-icon"><i class="fa fa-plus"></i></button></td>
                        </tr>
                        <tr>
                            <td>THiNKNET CO., LTD.</td>
                            <td>Bangkok</td>
                            <td>System Analyst</td>
                            <td>30,000 - 40,000 Baht</td>
                            <td>13/03/2559 - 02/03/2559</td>
                            <td><button ng-click="profile(n.StaffID)" class="btn btn-info btn-icon"><i class="fa fa-plus"></i></button></td>
                        </tr>
                        <tr>
                            <td>บริษัท เพอร์เพิล วอยซ์ จำกัด</td>
                            <td>Bangkok</td>
                            <td>Web Developer</td>
                            <td>30,000 - 40,000 Baht</td>
                            <td>13/03/2559 - 02/03/2559</td>
                            <td><button ng-click="profile(n.StaffID)" class="btn btn-info btn-icon"><i class="fa fa-plus"></i></button></td>
                        </tr>

                    </tbody>
                </table>-->
            </div><!-- /.box-body -->

        </div>
    </form>
</section>