<div class="container">

    <div class="card" id="profile-main">
        <div class="pm-overview c-overflow">
            <div class="pmo-pic">
                <div class="p-relative">
                    <a href="">
                        <img class="img-responsive" src="template/img/profile-pics/profile-pic-2.jpg" alt="">
                    </a>

                    <div class="dropdown pmop-message">
                        <a data-toggle="dropdown" href="" class="btn bgm-white btn-float z-depth-1">
                            <i class="md md-message"></i>
                        </a>

                        <div class="dropdown-menu">
                            <textarea placeholder="Write something..."></textarea>

                            <button class="btn bgm-green btn-icon"><i class="md md-send"></i></button>
                        </div>
                    </div>

                    <a href="" class="pmop-edit" data-toggle="modal" data-target=".bs-example-modal-lg">
                        <i class="md md-camera-alt"></i> <span class="hidden-xs">Update Profile Picture</span>
                    </a>
                </div>


                <div class="pmo-stat">
                    <h2 class="m-0 c-white">1562</h2>
                    Total Connections
                </div>
            </div>

            <div class="pmo-block pmo-contact hidden-xs">
                <h2>Contact</h2>

                <ul>
                    <li><i class="md md-phone"></i> 00971 12345678 9</li>
                    <li><i class="md md-email"></i> malinda-h@gmail.com</li>
                    <li><i class="socicon socicon-skype"></i> malinda.hollaway</li>
                    <li><i class="socicon socicon-twitter"></i> @malinda (twitter.com/malinda)</li>
                    <li>
                        <i class="md md-location-on"></i>
                        <address class="m-b-0">
                            10098 ABC Towers, <br />
                            Dubai Silicon Oasis, Dubai, <br />
                            United Arab Emirates
                        </address>
                    </li>
                </ul>
            </div>

        </div>

        <div class="pm-body clearfix">
            <ul class="tab-nav tn-justified">
                <li class="active waves-effect"><a href="profile-about.html">About</a></li>
                <li class="waves-effect"><a href="profile-timeline.html">Timeline</a></li>
                <li class="waves-effect"><a href="profile-photos.html">Photos</a></li>
                <li class="waves-effect"><a href="profile-connections.html">Connections</a></li>
            </ul>


            <div class="pmb-block">
                <div class="pmbb-header">
                    <h2><i class="md md-equalizer m-r-5"></i> Summary</h2>

                    <ul class="actions">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="md md-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a data-pmb-action="edit" href="">Edit</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="pmbb-body p-l-30">
                    <div class="pmbb-view">
                        Sed eu est vulputate, fringilla ligula ac, maximus arcu. Donec sed felis vel magna mattis ornare ut non turpis. Sed id arcu elit. Sed nec sagittis tortor. Mauris ante urna, ornare sit amet mollis eu, aliquet ac ligula. Nullam dolor metus, suscipit ac imperdiet nec, consectetur sed ex. Sed cursus porttitor leo.
                    </div>

                    <div class="pmbb-edit">
                        <div class="fg-line">
                            <textarea class="form-control" rows="5" placeholder="Summary...">Sed eu est vulputate, fringilla ligula ac, maximus arcu. Donec sed felis vel magna mattis ornare ut non turpis. Sed id arcu elit. Sed nec sagittis tortor. Mauris ante urna, ornare sit amet mollis eu, aliquet ac ligula. Nullam dolor metus, suscipit ac imperdiet nec, consectetur sed ex. Sed cursus porttitor leo.</textarea>
                        </div>
                        <div class="m-t-10">
                            <button class="btn btn-primary btn-sm">Save</button>
                            <button data-pmb-action="reset" class="btn btn-link btn-sm">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pmb-block">
                <div class="pmbb-header">
                    <h2><i class="md md-person m-r-5"></i> Basic Information</h2>

                    <ul class="actions">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="md md-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a data-pmb-action="edit" href="">Edit</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="pmbb-body p-l-30">
                    <div class="pmbb-view">
                        <dl class="dl-horizontal">
                            <dt>Full Name</dt>
                            <dd>Mallinda Hollaway</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Gender</dt>
                            <dd>Female</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Birthday</dt>
                            <dd>June 23, 1990</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Martial Status</dt>
                            <dd>Single</dd>
                        </dl>
                    </div>

                    <div class="pmbb-edit">
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Full Name</dt>
                            <dd>
                                <div class="fg-line">
                                    <input type="text" class="form-control" placeholder="eg. Mallinda Hollaway">
                                </div>

                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Gender</dt>
                            <dd>
                                <div class="fg-line">
                                    <select class="form-control">
                                        <option>Male</option>
                                        <option>Female</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Birthday</dt>
                            <dd>
                                <div class="dtp-container dropdown fg-line">
                                    <input type='text' class="form-control date-picker" data-toggle="dropdown" placeholder="Click here...">
                                </div>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Martial Status</dt>
                            <dd>
                                <div class="fg-line">
                                    <select class="form-control">
                                        <option>Single</option>
                                        <option>Married</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </dd>
                        </dl>

                        <div class="m-t-30">
                            <button class="btn btn-primary btn-sm">Save</button>
                            <button data-pmb-action="reset" class="btn btn-link btn-sm">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="pmb-block">
                <div class="pmbb-header">
                    <h2><i class="md md-phone m-r-5"></i> Contact Information</h2>

                    <ul class="actions">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="md md-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a data-pmb-action="edit" href="">Edit</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="pmbb-body p-l-30">
                    <div class="pmbb-view">
                        <dl class="dl-horizontal">
                            <dt>Mobile Phone</dt>
                            <dd>00971 12345678 9</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Email Address</dt>
                            <dd>malinda.h@gmail.com</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Twitter</dt>
                            <dd>@malinda</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Skype</dt>
                            <dd>malinda.hollaway</dd>
                        </dl>
                    </div>

                    <div class="pmbb-edit">
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Mobile Phone</dt>
                            <dd>
                                <div class="fg-line">
                                    <input type="text" class="form-control" placeholder="eg. 00971 12345678 9">
                                </div>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Email Address</dt>
                            <dd>
                                <div class="fg-line">
                                    <input type="email" class="form-control" placeholder="eg. malinda.h@gmail.com">
                                </div>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Twitter</dt>
                            <dd>
                                <div class="fg-line">
                                    <input type="text" class="form-control" placeholder="eg. @malinda">
                                </div>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Skype</dt>
                            <dd>
                                <div class="fg-line">
                                    <input type="text" class="form-control" placeholder="eg. malinda.hollaway">
                                </div>
                            </dd>
                        </dl>

                        <div class="m-t-30">
                            <button class="btn btn-primary btn-sm">Save</button>
                            <button data-pmb-action="reset" class="btn btn-link btn-sm">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myLargeModalLabel" ng-controller="ImageController">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="card">
                    <div class="modal-header card-padding">
                        <h3>Update Profile Picture</h3>
                    </div>
                    <div class="card-body card-padding">
                        <div class="row">
                            <div class="col-md-3">
                                <h4>Select files</h4>
                                <div ng-show="uploader.isHTML5">
                                    <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
                                    <!--<div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
                                        <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone">
                                            Another drop zone with its own settings
                                        </div>
                                    </div>-->
                                </div>
                                <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
                                <input type="file" nv-file-select="" uploader="uploader" multiple /><br />
                            </div>
                            <div class="col-md-9" style="margin-bottom: 40px">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="50%">Picture</th>
                                            <th ng-show="uploader.isHTML5">Size</th>
                                            <th ng-show="uploader.isHTML5">Progress</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in uploader.queue">
                                            <td>

                                                <!--<strong>{{ item.file.name }}</strong>-->
                                                <!-- Image preview -->
                                                <!--auto height-->
                                                <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                                <!--auto width-->
                                                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                                <!--fixed width and height -->
                                                <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->

                                            </td>
                                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                            <td ng-show="uploader.isHTML5">
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                            </td>
                                            <td nowrap>
                                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                                </button>
                                                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>