<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html ng-app="myApp">
<head>
    <title>Employers Register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link href="template/RegistrationForm/css/style.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
    <div class="sign_up" ng-controller="RegisterEmployerController">
        <!----------start form----------->
        <form class="sign" ng-submit="addemployers()" role="form">
            <div class="formtitle">Employers Register</div>
            <!----------start top_section----------->
            <div class="top_section">
                <div class="section">
                    <div class="input username">
                        <input type="text" ng-model="Username" placeholder="Username" required />
                    </div>
                    <div class="input password">
                        <input type="password" ng-model="Password" placeholder="Password" required />
                    </div>
                    <div class="clear"> </div>
                </div>
            </div>
            <!----------end top_section----------->
            <!----------start personal Details----------->
            <!----------start bottom-section----------->
            <div class="bottom-section">
                <div class="title">Company Profile</div>
                <!----------start name section----------->
                <div class="section">
                    <div class="input-sign details">
                        <input type="text" ng-model="Companyname" placeholder="Company Name" required />
                    </div>
                    <div class="input-sign details1">
                        <select id="Business" class="frm-field required" ng-model="BusinessTypeID" ng-options="options.BusinessTypeID as options.BusinessTypeName for options in businesstype" required>
                            <option value="">-- Select Business Type --</option>
                        </select>
                    </div>
                    <div class="clear"> </div>
                </div>
                <!----------start mail section----------->
                <div class="section">
                    <div class="input-sign details">
                        <input type="text" ng-model="EmployerAddress" placeholder="Address" required />
                    </div>
                    <div class="input-sign details1">
                        <select id="Province" class="frm-field required" ng-model="ProvinceID" ng-options="options.ProvinceID as options.ProvinceName for options in province" required>
                            <option value="">-- Select Povince --</option>
                        </select>
                    </div>
                    <div class="clear"> </div>
                </div>
                <!----------start city section----------->
                <div class="section">
                    <div class="input-sign details">
                        <input type="text" ng-model="District" placeholder="District" />
                    </div>
                    <div class="input-sign details1">
                        <input type="text" ng-model="SubDistrict" placeholder="Sub-district" />
                    </div>
                    <div class="clear"> </div>
                </div>
                <!----------start Address section----------->
                <div class="section">
                    <div class="input-sign details">
                        <input type="text" ng-model="Postcode" placeholder="Postcode" />
                    </div>
                    <div class="input-sign details1">
                        <input type="text" ng-model="Website" placeholder="Website" required />
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="submit">
                    <input class="bluebutton submitbotton" type="submit" value="Register" />
                </div>
            </div>
            <!----------end bottom-section----------->
        </form>
        <!----------end form----------->
    </div>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angularJS/app.js"></script>
</body>
</html>
